@import url('https://rsms.me/inter/inter.css');

html,
body {
   padding: 0;
   line-height: 1.6;
   font-size: 18px;
   font-family: 'Inter', sans-serif;
   background-image:
   linear-gradient(0deg, #181D45, #494A8D, #5861a6, #181D45);
   overflow: hidden;

}

* {
   box-sizing: border-box;
}

a {
   color: #0070f3;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

img {
   max-width: 100%;
   display: block;
}
